<div class="bigcard-container">
    <div class="bigcard-main-image">
        <img src="../../../assets/images/mortal-kombat_xbox360.jpg" alt="Imagem Aleatória" width="450px"
            height="280px" />
    </div>
    <div class="bigcard-infos">
        <div class="bigcard-main-info">
            <h1>Mortal Kombat - Komplete Edition</h1>
            <h3>Plataforma: XBOX 360</h3>
            <p>It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less
                normal distribution of letters.
            </p>
        </div>
        <div class="bigcard-options">
            <div class="bigcard-option">
                <mat-icon class="bigcard-icon">favorites</mat-icon>
                <p>Add to Favorites</p>
            </div>
            <div class="bigcard-option">
                <mat-icon class="bigcard-icon">store</mat-icon>
                <p>Buy Game</p>
            </div>
            <div class="bigcard-option">
                <mat-icon class="bigcard-icon">share</mat-icon>
                <p>Share With Friends</p>
            </div>
            <div class="bigcard-option">
                <mat-icon class="bigcard-icon">rate_review</mat-icon>
                <p>Give a Feedback</p>
            </div>
        </div>
    </div>
</div>