.bigcard-container {
    display: flex;
    flex-direction: row;
    color: #FFF;
    margin: 15px 20px;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
}

.bigcard-infos {
    padding: 2px 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigcard-main-info > h1 {
    margin-bottom: 7px;
    font-size: 30px;
}

.bigcard-main-info > h3 {
    margin: 7px 0;
    font-size: 18px;
}

.bigcard-main-info > p {
    margin: 22px 0;
    line-height: 150%;
    font-size: 16px;
    color: #CCC;
}

.bigcard-options {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bigcard-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bigcard-option > p {
    padding-left: 6px;
    font-size: 12px;
}

.bigcard-icon {
    transform: scale(0.75);
}

.bigcard-option:hover {
    color: #FEBE2A !important;
}