<div class="main-container">
    <app-side-bar></app-side-bar>
    <div class="details-container">
        <app-menu-bar></app-menu-bar>
        <div class="smallcards-container">
            <app-small-cards
                Id="1"
                photoCover="../../../assets/images/mortal-kombat_xbox360-mini.jpg"
                altCover="Mortal Kombat - XBOX 360"
                cardTitle="Mortal Kombat - Komplete Edition"
                cardDescription="Mortal Kombat (also known as Mortal Kombat 9) is a 2011 fighting game developed by NetherRealm Studios and published by Warner Bros. Interactive Entertainment. It is the ninth main installment in the Mortal Kombat series and a soft reboot of the series. The game was released for the PlayStation 3 and Xbox 360 systems in April 2011, and a PlayStation Vita port was released in May 2012. An expanded version of the game, titled Mortal Kombat: Komplete Edition, was released for Xbox 360 and PlayStation 3 in February 2012 and for Microsoft Windows in July 2013."
            >
            </app-small-cards>
            <app-small-cards
                Id="2"
                photoCover="../../../assets/images/skyrim-mini.jpg"
                altCover="Skyrim - XBOX 360"
                cardTitle="The Elder Scrolls V: Skyrim"
                cardDescription="The Elder Scrolls V: Skyrim is a fantasy action role-playing game, playable from either a first- or third-person perspective. The player may freely roam over the land of Skyrim, an open world environment consisting of wilderness expanses, dungeons, caves, cities, towns, fortresses, and villages."
            >
            </app-small-cards>
            <app-small-cards
                Id="3"
                photoCover="../../../assets/images/far_cry_3-mini.jpg"
                altCover="Far Cry 3 - XBOX 360"
                cardTitle="Far Cry 3"
                cardDescription="Far Cry 3 is a first-person shooter set on the fictional Rook Islands, a tropical archipelago somewhere in the Pacific, controlled by pirates and mercenaries. Players control Jason Brody and can approach missions and objectives in a variety of ways."
            >
            </app-small-cards>
            <app-small-cards
                Id="4"
                photoCover="../../../assets/images/assassins_creed_2-mini.webp"
                altCover="Assassins Creed II - XBOX 360"
                cardTitle="Assassin's Creed II"
                cardDescription="Assassin's Creed 2 is an epic story of family, vengeance and conspiracy set in the pristine, yet brutal, backdrop of a Renaissance Italy. Ezio befriends Leonardo da Vinci, takes on Florence's most powerful families and ventures throughout the canals of Venice where he learns to become a master assassin."
            >
            </app-small-cards>
            <app-small-cards
                Id="5"
                photoCover="../../../assets/images/batman.webp"
                altCover="Batman: Arkham City - XBOX 360"
                cardTitle="Batman: Arkham City"
                cardDescription="Batman: Arkham City is third-person Action-Adventure game that delivers an authentic Dark Knight experience rooted in an original and engrossing story as well as a combination of melee combat, stealth, investigative and speed-based challenge gameplay."
            >
            </app-small-cards>
            <app-small-cards
                Id="6"
                photoCover="../../../assets/images/gta_v.jpg"
                altCover="GTA V - XBOX 360"
                cardTitle="GTA V"
                cardDescription="A young street hustler, a retired bank robber and a terrifying psychopath must pull off a series of dangerous heists to survive in a ruthless city in which they can trust nobody, least of all each other. Experience Grand Theft Auto on Xbox 360 and enjoy a diverse open world full of action-packed gameplay."
            >
            </app-small-cards>
            <app-small-cards
                Id="7"
                photoCover="../../../assets/images/deadpool.png"
                altCover="Deadpool - XBOX 360"
                cardTitle="Deadpool"
                cardDescription="Deadpool is an action hack and slash, third-person shooter video game. Gameplay mostly consists of fighting enemies using both melee weapons and guns, with new combos becoming available to Deadpool as he progresses through the story and obtains upgrade points. The game frequently breaks the fourth wall by having Deadpool verbally interact with the player based on their skill and progress."
            >
            </app-small-cards>
            <app-small-cards
                Id="8"
                photoCover="../../../assets/images/tomb-raider.png"
                altCover="Rise of the Tomb Raider - XBOX 360"
                cardTitle="Rise of the Tomb Raider"
                cardDescription="Featuring epic, high-octane action moments set in the most beautifully hostile environments on earth, Rise of the Tomb Raider delivers a cinematic survival action adventure where you will join Lara Croft on her first tomb raiding expedition and witness the rise of an icon."
            >
            </app-small-cards>
            <app-small-cards
                Id="9"
                photoCover="../../../assets/images/red-dead-redemption.jpg"
                altCover="Red Dead Redemption - XBOX 360"
                cardTitle="Red Dead Redemption"
                cardDescription="Red Dead Redemption is an epic battle for survival in a beautiful open world as John Marston struggles to bury his blood-stained past, one man at a time. Developed by Rockstar San Diego, Red Dead Redemption is now available worldwide for Xbox 360 and PlayStation3 computer entertainment system."
            >
            </app-small-cards>
            <app-small-cards
                Id="10"
                photoCover="../../../assets/images/battlefield-4.jpg"
                altCover="Battlefield 4 - XBOX 360"
                cardTitle="Battlefield 4"
                cardDescription="The game's heads-up display (HUD) is composed of two compact rectangles. The lower left-hand corner features a mini-map and compass for navigation, and a simplified objective notice above it; the lower right includes a compact ammo counter and health meter. The top right displays kill notifications of all players in-game. On the Windows version of the game, the top left features a chat window when in multiplayer."
            >
            </app-small-cards>
            <app-small-cards
                Id="11"
                photoCover="../../../assets/images/forza-4.webp"
                altCover="Forza Motorsport 4 - XBOX 360"
                cardTitle="Forza Motorsport 4"
                cardDescription="The definitive racing game of 2011, Forza Motorsport 4 brings together genre-defining, controller-based racing, the power and freedom of Kinect, and content from leading brands like Top Gear to create an automotive experience unlike anything before it."
            >
            </app-small-cards>
            <app-small-cards
                Id="12"
                photoCover="../../../assets/images/ultimate-alliance-2.jpg"
                altCover="Marvel: Ultimate Alliance 2 - XBOX 360"
                cardTitle="Marvel: Ultimate Alliance 2"
                cardDescription="As with the original Marvel Ultimate Alliance, the new version of the game is an action RPG in which players create their own fighting team made up of four super heroes/villains. The makeup of teams can be changed as the player chooses, and characters can be leveled up as they gain experience and the game progresses."
            >
            </app-small-cards>
        </div>
    </div>
</div>