<div class="game-description-container">
    <div class="game-description-info">
        <h1>Gameplay</h1>
        <p>Principal gameplay involves one-on-one 2.5D-style fighting. Mortal Kombat uses a single two-dimensional
            fighting
            plane (at 60 frames per second),although characters are rendered in three-dimensional fashion, intended to
            give depth and range to portrayals of various projectiles. Unlike previous Mortal Kombat games, four buttons
            on
            the game controller represent attacks and are each linked to a corresponding limb.</p>

        <p>A new feature is the "super meter", which can be charged by various actions during battle such as performing
            special
            moves, getting blocked by the opponent, or getting hit by them. The super meter can be charged to three
            levels,
            each of them enabling a different action to be performed. At the first level, it can be used to deliver an
            enhanced
            version of one of the character's special attacks; two levels can be used to interrupt a combo attack, and
            the
            full
            three levels allow for the delivery of a special attack called an "X-ray move". The X-ray move unleashes a
            series of
            attacks during which the game provides an internal view of the character being attacked, which shows their
            bones
            and
            organs being broken or ruptured.</p>

        <p>Extra features include a story mode during which the player plays as multiple characters, a Fatality
            training
            mode (allowing players to practice executing finishing moves), the Challenge Tower, tag team fighting, and
            an
            online mode. The Challenge Tower mode is a single-player option that includes 300 specific challenges of
            various
            difficulties providing currency rewards upon completion; players have the option of using in-game currency
            to
            bypass
            other difficult challenges, completing them later. Among the various challenges are "Test Your Might"
            (rapidly pressing buttons and using specific timing to destroy blocks of varying difficulty), "Test Your
            Sight"
            (following an object hidden under a cup or skull and revealing the object after a shuffle), "Test Your
            Strike"
            (destroying a specific block in a stack) and "Test Your Luck" (fighting under certain conditions, such as no
            jumping. The four-player tag-team feature is an original feature, allowing two players to play together.
            During tag gameplay, two new types of attacks become available. The first of them is the "tag assist"
            attack, in
            which the off-screen character temporarily jumps in and performs certain attacks during the active
            character's
            combo. The other is the "tag kombo", in which the active character performs a combo that is finished by the
            off-screen character as they enter the fight.</p>

        <p>The online mode includes a "King of the Hill" option, where up to eight players can act as spectators and
            play
            the
            winner of a fight. Spectators may also rate the fights and use the "forum" to determine how to perform
            various
            combos or moves observed during a fight. A single-use online pass is also included with the game which is
            mandatory to access the online components. Online passes are also available from the PlayStation Store and
            Xbox
            Live
            Marketplace. There is also a PlayStation 3-exclusive 3D display mode, for which 3D glasses are not
            necessary.</p>
    </div>
    <div class="game-description-images">
        <img src="../../../assets/images/mortal-kombat_xbox360-mini.jpg" alt="Imagens do Jogo" height="250px"
            width="200px" />
        <img src="../../../assets/images/mortal-kombat_xbox360-mini.jpg" alt="Imagens do Jogo" height="250px"
            width="200px" />
        <img src="../../../assets/images/mortal-kombat_xbox360-mini.jpg" alt="Imagens do Jogo" height="250px"
            width="200px" />
        <img src="../../../assets/images/mortal-kombat_xbox360-mini.jpg" alt="Imagens do Jogo" height="250px"
            width="200px" />
    </div>
    <div class="game-description-info">
        <h1>Story</h1>
        <p> During the Armageddon war, all warriors from the realms have been killed, leaving only Raiden and Shao Kahn
            remaining. Having defeated Blaze, Shao Khan is imbued with godlike power and easily overpowers Raiden. In a
            final attempt to stop Shao Kahn, Raiden casts one last spell to send a message to his past self through his
            shattered amulet, with the vague message "He must win" before Shao Kahn delivers a killing blow on him.</p>

        <p>During the events of the first tournament from the first game, the past Raiden sees visions of the future
            due to the message he received and notices his amulet has been damaged. Raiden concludes that Liu Kang must
            win the tournament to save Earthrealm. During the tournament, Liu Kang becomes the only remaining Earthrealm
            contender, due in part to Scorpion's murder of Bi-Han, better known as Sub-Zero, in retaliation for the
            latter's massacre of the former's Shirai Ryu clan including Scorpion's wife and infant son some years
            earlier. Raiden pleads with Scorpion to spare Sub-Zero in exchange for asking the Elder Gods to resurrect
            Scorpion’s clan. Scorpion reluctantly agrees, but Quan Chi produces false visions in Scorpion’s mind,
            enraging him and causing him to slay Sub-Zero as he did in the original timeline. Liu Kang is successful in
            defeating the Shokan Prince Goro, as well as the crafty sorcerer Shang Tsung. Raiden's amulet, however,
            cracks further, a sign that future events remain unchanged. Disappointed with the sorcerer's failure,
            emperor Shao Kahn orders Shang Tsung's execution, but is convinced otherwise when the sorcerer suggests
            holding a second tournament in Outworld with different stakes: if Earthrealm wins, Outworld will leave them
            alone forever, but if Outworld wins, they will be allowed to invade Earthrealm uninhibited. Though he
            initially refuses, Raiden relents when Tarkatans invade Earthrealm as part of Shang Tsung's blackmail
            against Earthrealm.</p>

        <p>During the second tournament, Bi-Han's younger brother Kuai Liang decides to become the new Sub-Zero, and he
            and his friend Smoke arrive to avenge his brother. They are followed by Lin Kuei cyber assassins Sektor and
            Cyrax who are tasked with retrieving the rogue warriors for cybernetic conversion. Raiden changes the
            timeline by rescuing Smoke from being converted, at the cost of Kuai Liang being taken away. Kitana, the
            adopted daughter of Shao Kahn, chooses to join Earthrealm's fight after learning of the existence of her
            half-Tarkatan clone Mileena, created by Shang Tsung on Shao Kahn's orders, with Kitana's childhood friend
            Jade, joining her later. In a bid to save Earth, Raiden substitutes Kung Lao in place of Liu Kang during the
            tournament. Following his victory over Shang Tsung, the ruler of Netherrealm, Quan Chi, and the
            fire-breathing Kintaro, Kung Lao's neck is snapped by Shao Kahn while his back was turned, killing him, with
            Liu Kang retaliating and mortally wounding the emperor in a fit of rage. Raiden's amulet continues to
            deteriorate and he becomes increasingly concerned.</p>

        <p>Shao Kahn is healed by Quan Chi, at which point the two realms enter into an alliance. Quan Chi also revives
            and brainwashes Shao Kahn's long-dead wife, Sindel. In doing so, the ward that prevents Shao Kahn's physical
            access to Earthrealm is nullified and a full-scale invasion is now possible. Raiden saves Johnny Cage from
            certain death by slaying the centaurian Motaro. Joined by police officers Stryker and former Black Dragon
            member Kabal, the Earthrealm fighters attempt to stop Kahn's invasion. Kintaro severely burns Kabal but he
            is revived by Kano, which greatly increases Kabal's speed. Kahn dramatically enhances Sindel's power by
            sacrificing Tsung, taking the souls he has stolen for centuries and infusing them into Sindel.</p>

        <p>Raiden and Liu Kang travel to appeal to the Elder Gods, requesting they stop Shao Kahn's invasion. The Elder
            Gods refuse, saying that Kahn's invasion does not violate their laws, and that only attempting to merge
            Earthrealm into Outworld (without winning a Mortal Kombat tournament) would be a violation.</p>

        <p>While Raiden and Liu Kang are away, Sindel leads an Outworlder attack on the heroes. During the ensuing
            battle, Jax, Jade, Sub-Zero, Kabal, Stryker and Smoke are easily defeated and killed by Sindel, and Kitana
            is brutally beaten. Before Sindel can kill her, Nightwolf intervenes and sacrifices himself in order to kill
            her. Raiden and Liu Kang return soon after, and Kitana dies of her wounds after sharing her final words with
            Liu Kang, leaving Johnny Cage and Sonya Blade as the only survivors, but both of them are too injured to
            continue fighting.</p>

        <p>Raiden attempts to ally with Quan Chi, offering the souls of the deceased heroes as payment (and his own
            soul if he dies). Quan Chi declines, and reveals he already has possession of the heroes' souls, promised to
            him by Shao Kahn in exchange for his allegiance to the emperor, and has turned them into undead "revenants".
            Quan Chi's words make the dismayed Raiden realize that "He must win" refers to Shao Kahn himself; should
            Kahn conquer Earthrealm without victory in Mortal Kombat, the Elder Gods will punish him. Liu Kang, angered
            by the seemingly pointless deaths of their allies, blames Raiden and goes to attack Shao Kahn alone. Raiden
            tries to stop Liu Kang, but accidentally kills him when Liu Kang's fire mixes with Raiden's lightning,
            burning Liu Kang alive. Overcome with guilt, Raiden surrenders to Shao Kahn, at which point, the Elder Gods
            intervene, imbuing Raiden with their power, which he then uses to defeat and kill Shao Kahn for violating
            the Mortal Kombat code.</p>

        <p>After Shao Kahn's death, Raiden vows to rebuild Earthrealm with Cage and Blade. Quan Chi, now shown to be an
            agent of Shinnok, the exiled Elder God of darkness, reveals that the destruction of Shao Kahn and the
            weakening of Earthrealm by the death of their fighters was part of their plan to conquer all the realms for
            their own bidding.
        </p>
    </div>
</div>