<div class="game-description-container">
    <div class="game-description-info">
        <h1>Description</h1>
        <p>{{ storyText }}</p>
    </div>
    <div class="game-description-images">
        <img src="{{ photoOne }}" alt="Imagens do Jogo" height="200px"
            width="310px" />
        <img src="{{ photoTwo }}" alt="Imagens do Jogo" height="200px"
            width="310px" />
        <img src="{{ photoThree }}" alt="Imagens do Jogo" height="200px"
            width="310px" />
    </div>
</div>