<div class="sidebar-container">
    <div class="logo">
        <img src="../../../assets/images/logo.png" />
    </div>
    <div class="sidebar-options">
        <div class="sidebar-option">
            <div class="sidebar-option-single">
                <mat-icon>home</mat-icon>
                <a href="#" target="_blank">Home</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>sports_esports</mat-icon>
                <a href="#" target="_blank">Games List</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>category</mat-icon>
                <a href="#" target="_blank">Categories</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>store</mat-icon>
                <a href="#" target="_blank">Store</a>
            </div>
        </div>
        <hr>
        <div class="sidebar-option">
            <div class="sidebar-option-single">
                <mat-icon>shopping_cart</mat-icon>
                <a href="#" target="_blank">My Shopping</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>favorite</mat-icon>
                <a href="#" target="_blank">Favorites</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>download</mat-icon>
                <a href="#" target="_blank">Free Downloads</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>rate_review</mat-icon>
                <a href="#" target="_blank">Feedbacks</a>
            </div>
        </div>
        <hr>
        <div class="sidebar-option">
            <div class="sidebar-option-single">
                <mat-icon>quiz</mat-icon>
                <a href="#" target="_blank">FAQ</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>person</mat-icon>
                <a href="#" target="_blank">About Us</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>policy</mat-icon>
                <a href="#" target="_blank">Privacy Policy</a>
            </div>
        </div>
        <div class="sidebar-presentation">
            <p>Created by Matheus G. Rodrigues</p>
        </div>
    </div>
</div>