<div class="sidebar-container">
    <div class="logo">
        <img src="../../../assets/images/logo.png" />
    </div>
    <div class="sidebar-options">
        <div class="sidebar-option">
            <div class="sidebar-option-single">
                <mat-icon>home</mat-icon>
                <a [routerLink]="['']">Home</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>sports_esports</mat-icon>
                <a [routerLink]="['','games-list']">Games List</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>category</mat-icon>
                <a href="#">Categories</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>store</mat-icon>
                <a href="#">Store</a>
            </div>
        </div>
        <hr>
        <div class="sidebar-option sidebar-option-hide">
            <div class="sidebar-option-single">
                <mat-icon>shopping_cart</mat-icon>
                <a href="#">My Shopping</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>favorite</mat-icon>
                <a href="#">Favorites</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>download</mat-icon>
                <a href="#">Free Downloads</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>rate_review</mat-icon>
                <a href="#">Feedbacks</a>
            </div>
        </div>
        <hr>
        <div class="sidebar-option sidebar-option-hide">
            <div class="sidebar-option-single">
                <mat-icon>quiz</mat-icon>
                <a href="#">FAQ</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>person</mat-icon>
                <a href="#">About Us</a>
            </div>
            <div class="sidebar-option-single">
                <mat-icon>policy</mat-icon>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="sidebar-presentation">
            <p>Created by Matheus G. Rodrigues</p>
        </div>
    </div>
</div>