*{
    background-color: #000;
}

.sidebar-container {
    color: #FFF;
    font-size: 13px;
    white-space: nowrap;
    height: 100%;
}

.logo {
    text-align: center;
}

img {
    width: 150px;
    height: 60px;
    margin: 20px 15px;
    align-self: center;
}

.sidebar-options {
    padding: 0 10px;
    margin: 0 10px;
}

.sidebar-option-single {
    display: flex;
    align-items: center;
}

.sidebar-option-single > a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    padding-left: 8px;
    margin: 8px;
}

.sidebar-option {
    margin: 18px 10px;
}

.sidebar-option-single:hover {
    color: #FEBE2A !important;
}

.sidebar-presentation {
    text-align: center;
    margin: 40px 0 5px 0;
}

.sidebar-presentation > p {
    font-size: 9px;
}