<div class="sidebar-container">
    <div class="logo">
        <img src="../../../assets/images/logo.png" />
    </div>
    <div class="sidebar-options">
        <div class="sidebar-option">
            <div class="sidebar-option-single">
                <a [routerLink]="['/']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>home</mat-icon>
                    <p>Home</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'games-list']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>sports_esports</mat-icon>
                    <p>Games List</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'categories']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>category</mat-icon>
                    <p>Categories</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'store']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>store</mat-icon>
                    <p>Store</p>
                </a>
            </div>
        </div>
        <hr>
        <div class="sidebar-option sidebar-option-hide">
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'shopping']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>shopping_cart</mat-icon>
                    <p>My Shopping</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'favorites']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>favorite</mat-icon>
                    <p>Favorites</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'download']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>download</mat-icon>
                    <p>Free Downloads</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'feedbacks']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>rate_review</mat-icon>
                    <p>Feedbacks</p>
                </a>
            </div>
        </div>
        <hr>
        <div class="sidebar-option sidebar-option-hide">
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'faq']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>quiz</mat-icon>
                    <p>FAQ</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'about']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>person</mat-icon>
                    <p>About Us</p>
                </a>
            </div>
            <div class="sidebar-option-single">
                <a [routerLink]="['/', 'policy']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>policy</mat-icon>
                    <p>Privacy Policy</p>
                </a>
            </div>
        </div>
        <div class="sidebar-presentation">
            <p>Created by Matheus G. Rodrigues</p>
        </div>
    </div>
</div>