<div class="main-container">
    <app-side-bar></app-side-bar>
    <div class="details-container">
        <app-menu-bar></app-menu-bar>
        <app-big-card Id="1" photoCover="../../../assets/images/mortal-kombat_xbox360.jpg" altCover="Mortal Kombat - XBOX 360"
            cardTitle="Mortal Kombat - Komplete Edition"
            cardPlatafform="Plataforma: XBOX 360"
            cardDescription="Mortal Kombat (also known as Mortal Kombat 9) is a 2011 fighting game developed by NetherRealm Studios and published by Warner Bros. Interactive Entertainment. It is the ninth main installment in the Mortal Kombat series and a soft reboot of the series. The game was released for the PlayStation 3 and Xbox 360 systems in April 2011, and a PlayStation Vita port was released in May 2012. An expanded version of the game, titled Mortal Kombat: Komplete Edition, was released for Xbox 360 and PlayStation 3 in February 2012 and for Microsoft Windows in July 2013.">
        </app-big-card>
        <div class="smallcards-container">
            <app-small-cards
                Id="2"
                photoCover="../../../assets/images/skyrim-mini.jpg"
                altCover="Skyrim - XBOX 360"
                cardTitle="The Elder Scrolls V: Skyrim"
                cardDescription="The Elder Scrolls V: Skyrim is a fantasy action role-playing game, playable from either a first- or third-person perspective. The player may freely roam over the land of Skyrim, an open world environment consisting of wilderness expanses, dungeons, caves, cities, towns, fortresses, and villages."
            >
            </app-small-cards>
            <app-small-cards
                Id="3"
                photoCover="../../../assets/images/far_cry_3-mini.jpg"
                altCover="Far Cry 3 - XBOX 360"
                cardTitle="Far Cry 3"
                cardDescription="Far Cry 3 is a first-person shooter set on the fictional Rook Islands, a tropical archipelago somewhere in the Pacific, controlled by pirates and mercenaries. Players control Jason Brody and can approach missions and objectives in a variety of ways."
            >
            </app-small-cards>
            <app-small-cards
                Id="4"
                photoCover="../../../assets/images/assassins_creed_2-mini.webp"
                altCover="Assassins Creed II - XBOX 360"
                cardTitle="Assassin's Creed II"
                cardDescription="Assassin's Creed 2 is an epic story of family, vengeance and conspiracy set in the pristine, yet brutal, backdrop of a Renaissance Italy. Ezio befriends Leonardo da Vinci, takes on Florence's most powerful families and ventures throughout the canals of Venice where he learns to become a master assassin."
            >
            </app-small-cards>
        </div>
    </div>
</div>