<div class="main-container">
    <app-side-bar></app-side-bar>
    <div class="details-container">
        <app-menu-bar></app-menu-bar>
        <app-big-card></app-big-card>
        <div class="smallcards-container">
            <app-small-cards></app-small-cards>
            <app-small-cards></app-small-cards>
            <app-small-cards></app-small-cards>
        </div>
    </div>
</div>
<!-- <app-small-cards></app-small-cards>
<app-small-cards></app-small-cards>
<app-small-cards></app-small-cards> -->