.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.smallcards-container {
    display: grid;
    margin: 15px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}