<div class="smallcard-container">
    <div class="smallcard-image">
        <img src="../../../assets/images/mortal-kombat_xbox360-mini.jpg" alt="Mortal Kombat - XBOX 360" width="150px"
            height="200px" />
    </div>
    <div class="smallcard-description">
        <h1>Mortal Kombat</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
    </div>
</div>