.smallcard-container {
    display: flex;
    flex-direction: row;
    color: #FFF;
    margin: 0 5px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    cursor: pointer;
}

.smallcard-description {
    padding: 2px 15px;
    text-align: justify;
}

.smallcard-description > h1 {
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
}

.smallcard-description > p {
    font-size: 14px;
    word-break: break-all;
    color: #CCC;
}

.smallcard-container:hover {
    transform: scale(1.015);
    .smallcard-description > h1 {
        color: #FEBE2A !important;
    }
}