.smallcard-container {
    display: flex;
    flex-direction: row;
    color: #FFF;
    margin: 0 5px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.7);
    cursor: pointer;
    height: 220px;
}

.smallcard-description {
    padding: 2px 15px;
    text-align: justify;
}

.smallcard-description > h1 {
    text-align: left;
    font-size: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.smallcard-description > p {
    font-size: 12px;
    line-height: 150%;
    word-break: break-all;
    color: #CCC;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.smallcard-container:hover {
    transform: scale(1.015);
    .smallcard-description > h1 {
        color: #FEBE2A !important;
    }
}