<div class="menu-container">
    <a [routerLink]="['']">
        <div class="menu-actual">
            <mat-icon>home</mat-icon>
        </div>
    </a>
    <div class="menu-search">
        <input type="text" placeholder="Search..." #deleteText required/>
        <mat-icon>search</mat-icon>
        <mat-icon (click)="deletar()">delete</mat-icon>
    </div>
    <ul>
        <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
        <li><a href="https://www.instagram.com.br" target="_blank">Instragram</a></li>
        <li><a href="https://www.twitter.com.br" target="_blank">Twitter</a></li>
    </ul>
</div>
